<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Your Adventure</title>
</head>
<body>
    <h1>Welcome to Your Adventure!</h1>
    <p>Choose an option to begin:</p>
    
    <ul>
        <li><a href="{{ url_for('name_character') }}">Create Your Own Character</a></li>
        <li><a href="{{ url_for('view_my_character') }}">View My Character</a></li>
        <li><a href="{{ url_for('view_companions') }}">View Companions</a></li>
        <li><a href="{{ url_for('start_adventure') }}">Start Your Adventure</a></li>
    </ul>
</body>
</html>
